@import '../../../../index.scss';

.block {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

// Next effect //
.nextEnterActive {
  transform: translateX(3000px);
}
.nextEnterDone {
  transform: translateX(0px);
  transition: all 200ms ease-in-out;
}
.nextExit {
  transform: translateX(0px);
}
.nextExitActive {
  transform: translateX(-3000px);
  transition: all 200ms ease-in-out;
}
// Back Button //
.backEnterActive {
  transform: translateX(-3000px);
}
.backEnterDone {
  transform: translateX(0px);
  transition: all 200ms ease-in-out;
}
.backExit {
  transform: translateX(0px);
}
.backExitActive {
  transform: translateX(3000px);
  transition: all 200ms ease-in-out;
}

@media (max-width: $breakpoint-sm) {
  .block {
    margin: 0 20px 0 20px;
  }
}
