@import '../../../index.scss';

.container {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  height: 70vh;
  .buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100%;
    bottom: 50px;
    .back,
    .next {
      cursor: pointer;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      margin: 40px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        border: 1px solid white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 6px;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .container > .buttons {
    padding-top: 350px;
  }
}

@media (max-width: $breakpoint-sm) {
  .container > .buttons {
    padding-top: 420px;
  }
  h2 {
    margin-top: 0px;
  }
}
