@import '../../../index.scss';

.container {
  height: 90vh;
  color: #ffffff;
  background-color: #020607;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .centerblock {
    height: 273px;
    width: 1150px;
    display: flex;
    .leftside {
      display: flex;
      align-items: center;
      justify-content: center;
      .sphere {
        width: 270px;
        height: 273px;
      }
    }
    .rightside {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .title {
        font-family: 'Signika', sans-serif;
        font-size: 50px;
      }
      .first-paragraph,
      .second-paragraph {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
        width: 600px;
        font-family: 'Rajdhani', sans-serif;
      }
    }
  }
  .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    bottom: 50px;
    height: 25px;
    border-radius: 50px;
    .arrow {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 50px;
      transform: rotate(90deg);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1) rotate(90deg);
      }
    }
  }
}
